{% extends 'base.html' %}
{% load static %}

{% block title %} Наряды академии {% endblock title %}

{% block content %} 
<header>   
    <div class="header_row">
        <div class="mil_logo"> 
            <div class="mil_logo_image"> <img class="image1" src = "{% static 'img/rusemb.png' %}"> </div>
        </div>
        <div class="center_name" >
            <span class="center_name_main">Военно-космическая академия</span>
            <span class="center_name_submain">имени А.Ф. Можайского</span>
        </div>
    </div>
</header>      
<section class="section1">
    <h1 class="zagolovok">РАСПРЕДЕЛЕНИЕ НАРЯДОВ</h1>
</section>
<div class="flexbox">
    <section class = "instruct">
        <p>
            Инструкция:<br>
            1. Выберите факультет<br>
            2. Нажмите кнопку "Распределить"<br>
            3. Ознакомтесь с нарядами 
        </p>
    </section>
    <section class="section2">
        <aside class = "sidebar">
            <a href="officers">
                <button class="check_office">База данных офицеров</button>
            </a>
        </aside>
    </section>
    <section class="section2">
        <aside class = "sidebar">
            <a href="raspred">
                <button class="check_office">Распределить</button>
            </a>
        </aside>
    </section>
    <form action="select1.php" method="get" class = "forma">
        Выберите факультет:
        <p><select>
        <option disabled>Выберите факультет</option>
        </select></p>
        <p><input type="submit" value="Выбрать"></p>
    </form>
</div>
{% endblock %}
